<%= form_for lambda{ @room ||= Room.new }.call, url: {action: 'enter'} do |f|  %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= f.label :name  %>
  <%= f.text_field :name  %>
  <br/>
  <%= f.submit "Enter Room"  %>
<% end  %>

<div>
  <% if @rooms.any?  %>
    <ul>
      <%= render @rooms  %>
    </ul>
  <% else  %>
    No Rooms yet
  <% end  %>

</div>
