<div class="panel panel-default full-height">
	<div class="panel-heading">
		Hey, <%= current_user  %>,	welcome to <%= @room.name  %>
		<div class="pull-right" id="chat-status">

		</div>
	</div>
	<div class="panel-body full-height bottom-padding">
		<div class="messages-list full-height">
			<div class="full-height set-scroll" id="messages" data-room="<%= @room.name %>" data-user="<%= current_user  %>" data-hex="<%= hex %>">
			</div>

		</div>
	</div>
	<div class="panel-footer chat-text-input <%= hex %>">  
		<input id="message-input" class="form-control" data-behaviour="speaker" placeholder="Type Message, Press Enter to Send"/>
	</div>
</div>
</div>

